.upper-box{
    background-color: white;
}

.main-box{
    background-color: #89ADC3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content{
    display: flex;
    background-color: #D4EAF5;
    align-items:center;
    height: 100vh;
}