.transaction-container {
  background-color: #f8f8f8 !important;
  height: auto;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 40%;
  padding-top: 5.2%;
}

.transaction-content {
  display: flex;
}

.transaction-content-left {
  flex: 1;
}

.transaction-content-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.transaction-text-1 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.transaction-show {
  margin-top: 8px;
  font-size: 14px;
  margin-right: 20px;
  font-weight: 500;
  color: rgb(117, 117, 117);
}

.transaction-text-2 {
  font-size: 13px;
  font-weight: bold;
}

.transaction-text-3 {
  font-size: 18px;
  margin: 10;
  font-weight: 500;
  color: rgb(175, 175, 175);
}

.transaction-button-detail {
  font-size: 13px;
  font-weight: bold;
}

.less-request {
  font-size: 15px;
  font-weight: bold;
  color: #da0037;
}
