.cart-background{
    background-color:#89AEC2 ;
    height: 27vh;
}

.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.title-top{
font-size: 6rem;
color: white;
}

.table-margin{
margin-top: 60px;

}

.edit-btn{
    color: #052C43;
}

.delete-btn{
    color: red;
    margin-left: 15px;
}

.checkout-btn{
    background-color:#89ADC3 ;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 32px;
}

.modal-btn1{
    background-color:#89ADC3 ;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 20px;
}

.modal-btn2{
    background-color:gray ;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 20px;
}

.alamat-box{
    border: gray 1px solid;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.other-address{
    background-color:white ;
    border: 1px solid gray;
    color: #052C43;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 32px;
    margin-top: 17px;
}

.modaladd-font{
    color:#052C43 ;
    display: flex;
}

.font-modal{
    justify-content: center;
    align-items: center;
}

.custom-select {
    position: relative;
  }