:root {
  --textprimary: #052c43;
}

.normal-link-collection:hover {
  text-decoration: none !important;
}

.title-collection {
  font-size: 6rem;
  color: white;
}

.jumbotron-1-collection {
  display: flex;
  width: 100vw;
}

.page-2-collection {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.page-2-text-1 {
  color: grey;
  margin-top: 5%;
}

.page-2-text-2 {
  color: var(--textprimary);
  font-weight: bold;
  margin-bottom: 4%;
}

.filter-content-collection {
  width: 87.5%;
  margin-bottom: 2%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.totalprod-info-collection > p {
  font-weight: bold;
  margin-top: 5%;
  color: var(--textprimary);
}

.search-content-collection {
  background-color: indianred;
  display: flex;
  width: 50%;
}

.dropdown-collection {
  background-color: khaki;
}

.searchbar-content-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  padding: 0 1%;
  border: solid rgba(128, 128, 128, 0.726);
  border-width: 1px;
  border-radius: 3px;
}

.searchbar-collection {
  border: none;
  outline: none;
  background-color: transparent;
}

.card-content {
  width: 87.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  /* background-color: tomato; */
  margin-bottom: 30px;
}

.render-prod-collection {
  display: flex;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -webkit-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -moz-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
}

.render-prod-card {
  height: 250px;
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke;
}

.render-prod-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.card-name-content {
  height: 50px;
  margin-top: 5px;
}

.card-name-content > p:first-child {
  /* color: var(--textprimary); */
  color: grey;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-name-content > p:last-child {
  /* color: var(--textprimary); */
  color: grey;
  margin-top: -20px;
}

.card-price-content > p {
  font-size: 1.5rem;
  /* color: var(--textprimary); */
  color: #89adc3;
  width: fit-content;
  letter-spacing: -1px;
  font-weight: bold;
}

.pagination-content {
  margin-top: 10px;
  margin-bottom: 5%;
}

.page-number {
  list-style: none;
  display: flex;
}

.page-number li {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 45px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  color: var(--textprimary);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
}

.page-number li.active {
  color: white;
  background-color: #89adc3;
  border-color: #89adc3;
}

.page-number li:hover {
  color: #89adc3;
  background-color: #d4eaf5;
  border-color: #d4eaf5;
  transition: ease-out 0.3s;
}

.page-number li button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.page-number li button:hover {
  color: #89adc3;
  background-color: #d4eaf5;
}

.page-number li button:focus {
  outline: none;
}

.footer-content {
  display: flex;
  flex-direction: column;
  background-color: #d4eaf5;
  height: 90vh;
}

.footer-1 {
  display: flex;
  flex: 5;
}

.footer-2 {
  display: flex;
  flex: 1;
  background-color: #89adc3;
}
