.kotak-1-pendapatan{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    align-items: center;
}

.kotak-2-pendapatan{
    /* background-color: pink; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.kotak-revenue{
    /* background-color: aquamarine; */
    border: none;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.75);
}
.kotak-revenue-1{
    /* background-color: thistle; */
    /* padding-left: 20px; */
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #535353;
}
.kotak-revenue-2{
    /* background-color: wheat; */
    /* padding-left: 20px; */
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.kotak-potential{
    /* background-color: tomato;
    border: 1px solid black;
    height: 200px;
    width: 400px;
    border-radius: 7px; */
}

.kotak-date{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.filter-btn{
    background-color:#535353 ;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 7px;
    transition: 800ms;
}
.filter-btn:hover{
    background-color:#89ADC3 ;
    transition: 800ms;
}