.jumbotron-mp {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
}

.header-mp {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 60px;
}
.header-mp-title {
  margin-left: 20px;
}
.header-mp-title > p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}

.nama-admin {
  display: flex;
  align-content: center;
  text-align: center;
  height: fit-content;
  background-color: #89adc3;
  margin: 10px 0px;
  font-size: 2.5rem;
  font-weight: bold;
}

.kanan-mp {
  display: flex;
  flex: 4.5;
  flex-direction: column;
  align-items: center;
}

.kanan-title-mp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88.6%;
  margin: 10px 0px;
}

.kanan-title-mp > div:first-child {
  color: grey;
  margin: 10px 0 0;
}
.kanan-title-mp > div:last-child {
  display: flex;
  margin: 10px 0 0;
}

.searchbar-content-mp {
  display: flex;
  width: 100%;
  height: 44.5px;
  justify-content: space-between;
  background-color: white;
  border: solid gainsboro;
  border-width: 1px;
  border-radius: 5px;
  overflow: hidden;
}
.searchbar-content-mp:focus-within {
  border: solid 2px #d4eaf5;
}
.searchbar-mp {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 5px 10px;
  transition: ease 1s;
}
.searchbar-mp:focus {
  width: 250px;
}
.search-logo-mp {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  width: 50px;
}

.mp-table-content {
  width: 88.8%;
}

.button-add {
  display: flex;
  justify-content: center;
  background: #89adc3;
  align-items: center;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

.button-add:hover {
  background: #a2c3d8;
}

.select-mp {
  background-color: white;
  padding: 5px 10px;
  border: solid 1px gainsboro;
  height: 45px;
  border-radius: 5px;
  color: gainsboro;
  margin-right: 10px;
}

.mp-th {
  display: grid;
  grid-template-columns: 0.5fr 1.3fr 2fr 2fr 1fr 1.5fr 1fr;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -webkit-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -moz-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
}

.mp-render-data {
  background-color: white;
  display: grid;
  grid-template-columns: 0.5fr 1.3fr 2fr 2fr 1fr 1.5fr 1fr;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -webkit-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -moz-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
}

.mp-prod-img {
  background-color: transparent;
  align-items: center;
  height: 80px;
  width: 80px;
  display: flex;
  border: solid 1px gainsboro;
  border-radius: 5px;
  overflow: hidden;
}

.mp-prod-name {
  display: flex;
  flex-wrap: wrap;
}
/* .mp-prod-price {
  background-color: violet;
} */
.mp-prod-qty {
  font-weight: bold;
}
/* .mp-prod-cat {
  background-color: seagreen;
} */

.mp-render-button {
  display: flex;
}
.mp-prod-edit {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 10px;
  color: #89adc3;
  cursor: pointer;
}
.mp-prod-delete {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: red;
  cursor: pointer;
}

.pagination-content {
  margin: 0 40px 15px;
}

.mp-empty-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 20px 10px;
  border-radius: 5px;
}
.mp-empty-result > img {
  margin-top: 15px;
  height: 300px;
}
.mp-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.mp-warning > p:first-child {
  font-weight: bold;
  margin-bottom: 0;
}
