.container-1 {
  min-height: 12vh;
  /* background-color: yellow; */
}

.container-2 {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box-1 {
  /* background-color: tomato; */
  text-align: center;
  order: 1;
  margin-top: 2vh;
  /* height: 25vh; */
  font-size: 25px;
  margin-bottom: 5vh;
  color: #052c43;
  font-weight: 600;
}
.box-2 {
  border: 2px solid #dbdee2;
  order: 2;
  width: 60%;
  /* background-color: thistle; */
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  border-bottom: none;
  border-radius: 7px 7px 0px 0px;
  font-size: 20px;
}

.box-3 {
  order: 3;
  border: 2px solid #dbdee2;
  width: 60%;
  padding: 10px 15px 10px 15px;
  border-radius: 0px 0px 7px 7px;
}

.box-3-x {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 20px;
}

.detail {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #89adc3;
  /* background-color: blanchedalmond; */
  padding-top: 10px;
}

.judul {
  color: gray;
  font-size: 15px;
}

.box-4 {
  order: 4;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* background-color: aqua; */
}

.btn-1 {
  background-color: white;
  border: 1px solid #89adc3;
  color: #89adc3;
  /* border: 1px solid #052c43; */
  /* color: #052c43; */
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 100px;
  border-radius: 7px;
  transition: 750ms;
}

.btn-2 {
  background-color: #89adc3;
  /* background-color:#052c43; */
  border: none;
  color: white;
  text-align: center;
  /* display: inline-block; */
  font-size: 17px;
  font-weight: 600;
  padding: 12px 265px;
  border-radius: 7px;
  transition: 750ms;
}
.btn-2:hover {
  background-color: #708fa1;
  /* background-color:rgb(33, 90, 122) ; */
  transition: 750ms;
}

.nomor {
  font-size: 18px;
  font-weight: 650;
}

.btn-upload {
  background-color: #89adc3;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn-cancel {
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
}

.icon-bank {
  height: 20px;
}

.details {
  background-color: burlywood;
}

.container-payment{
  margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-payment{

}

.tombol-home-pay{
  background-color:#89ADC3 ;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 115px;
  margin-top: 10px;
  transition: 750ms;
}
.tombol-home-pay:hover{
  background-color:#708fa1 ;
  transition: 750ms;
}

.pay-background{
  /* background-color:#89ADC3 ; */
  height: 10vh;
}