.jumbotron-1-profo {
  display: flex;
  min-height: 100vh;
}

.sidebar-profo {
  flex: 1;
  background-color: brown;
}

/* result not found image */
.profo-empty-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -webkit-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -moz-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
}
.profo-empty-result > img {
  margin-top: 15px;
  height: 300px;
}
.profo-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.profo-warning > p:first-child {
  font-weight: bold;
  margin-bottom: 0;
}
/* result not found image*/

.profo-render-in {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.profo-content {
  display: flex;
  flex-direction: column;
  flex: 4.5;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: whitesmoke;
}

.profo-content-in {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 20px;
}

.profo-title-content {
  background-color: transparent;
  display: flex;
  padding-left: 2%;
  align-items: center;
  height: 60px;
}

.profo-title-content > p {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
}

/* content info atas + select status */
.profo-search-content {
  padding: 0 20px;
}
.profo-search-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.profo-search-right {
  display: flex;
  align-items: center;
}
.profo-search-right > div:first-child {
  margin-right: 10px;
}
.profo-select-status {
  background-color: white;
  padding: 5px 10px;
  border: solid 1px gainsboro;
  height: 45px;
  border-radius: 5px;
  color: gainsboro;
}
/* content info atas + select status */

/* table head */
.profo-th {
  background-color: white;
  position: sticky;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
  margin: 10px 20px 0;
  font-weight: bold;
  box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -webkit-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -moz-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
}
.profo-t1 {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.profo-t2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.profo-t3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.profo-t4 {
  flex: 0.5;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.profo-t5 {
  flex: 1;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.profo-t6 {
  flex: 1;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* table head */

/* isi data di tabel */
.profo-render-data {
  background-color: white;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -webkit-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
  -moz-box-shadow: 1px 1px 7px 0px rgba(187, 187, 187, 0.44);
}
.profo-prod-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profo-prod-name > div:first-child {
  display: flex;
  flex-wrap: wrap;
}
.profo-prod-name > div:last-child {
  font-size: 0.8rem;
  color: grey;
  margin-top: 5px;
}
.profo-prod-price {
  align-items: center;
  display: flex;
  font-weight: bold;
}
.profo-prod-img {
  background-color: transparent;
  align-items: center;
  height: 100px;
  width: 100px;
  display: flex;
  border: solid 1px gainsboro;
  border-radius: 5px;
  overflow: hidden;
}
.profo-prod-qty {
  align-items: center;
  display: flex;
  font-weight: bold;
}
.profo-prod-status {
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 50px;
  border: solid 1px;
}
.profo-prod-date {
  align-items: center;
  display: flex;
}
/* isi data di tabel */
