.detail-content {
  display: flex;
}

.detail-content-1 {
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
}

.image-content {
  flex: 1.5;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid rgb(216, 216, 216);
  height: 100%;
}

.image-detail {
  width: 100%;
  height: 100%;
}

.detail-info {
  display: flex;
  flex: 1.8;
  flex-direction: column;
  margin-left: 5%;
  width: 28%;
}

.detail-info > hr {
  width: 100%;
  color: black;
}

.detail-name {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: bold;
}

.cart-info {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 8px;
  flex: 1;
  width: 100%;
  padding: 2%;
  margin-left: 5%;
  height: 100%;
}

.set-amount {
  font-size: 16px;
  margin-bottom: 10%;
  font-weight: 700;
}

.detail-description {
  font-size: 16px;
  margin-top: 10px;
}

.detail-price {
  font-size: 34px;
  font-weight: 700;
  margin-top: 3%;
  letter-spacing: -1px;
}

.detail-price-cart {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-top: 3%;
  letter-spacing: -1px;
}

.detail-penjualan {
  margin-top: 10%;
}

.detail-ongkir {
  margin-bottom: -10px;
}

.detail-quantity {
  display: flex;
  margin-bottom: 10%;
  width: 100%;
  height: 10%;
}

.detail-quantity > p {
  margin-top: 4%;
  margin-right: 20%;
}

.detail-quantity > button {
  flex: 1;
  border-width: 0.5px;
}

.button-minus {
  background-color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-color: transparent;
}

.button-minus > div {
  margin-top: -15%;
}

.button-qty {
  pointer-events: none;
  background-color: white;
  border-right-width: 0px;
  border-left-width: 0px;
}

.button-plus {
  background-color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-color: transparent;
}

.button-plus > div {
  margin-top: -8%;
}

.stockinfo-detailp {
  margin-top: 5%;
}

.add-tocart {
  font-size: 15px;
}

.detail-button-cart {
  margin-top: -23%;
  display: flex;
  padding: 20% 0;
}

.detail-button-cart > button {
  flex: 1;
  margin: 5% 0;
  background-color: #89adc3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border-style: none;
}

.detail-button-cart > button > div {
  margin: 4%;
}

.detail-button-cart > button > div:first-child {
  margin-top: 0;
  font-size: 1.8rem;
}

.wish-product{
  /* background-color: plum; */
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-click{

}