.kotak-utama{
    display: flex;
    justify-content: center;
    /* background-color: crimson; */
    padding-top: 95px;
    height: 100vh;
}

.kotak-reset-1{
    background-color: #D4EAF5;
    min-height: 90vh;
    flex:1;
}

.judul-1{
    /* background: thistle; */
    margin-top: 100px;
    text-align: center;
    color: #052C43 ;
    font-size: 30px;
    font-weight: 600;
}

.kotak-pass{
    display: flex;
    flex-direction: column;
    /* background: tomato; */
    margin-top: 50px;
    padding: 0px 100px
}

.kotak-newpass{
    height: 50px;
    /* width: 470px; */
    border-radius: 7px;
    padding-left: 15px;
    font-size: 17px;
    border: 1px solid #D4EAF5;
    -webkit-transition: 0.5s ;
    transition: 0.5s;
    outline: none;
    color:#052C43 ;
    box-sizing: border-box;
}

.kotak-reset-2{
    /* background-color: chartreuse; */
    flex:1;
    overflow: hidden;
}

.reset-click{
    margin-left: 100px;
    margin-top: 50px;
    background-color:#89ADC3 ;
    border: none;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    transition: 700ms;
}

.reset-click:hover{
    background-color: #7fbbe0;
    transition: 700ms;
}

.backhome-click{
    margin-left: 100px;
    margin-top: 50px;
    background-color:#052C43 ;
    border: none;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
}

