.icon{
    font-size: 70px;
}

.back-ground{
    background-color: #89ADC3;
    height: 99vh;
}

.font1{
    color: white;
    font-size: 25px;
}
.font2{
    color: #052C43;
    font-size: 25px;
}

.icon-position{
    text-align: center;
}

.my-profile{
    font-weight: 650; 
}


.input-width{
    width: 43%;
}

.input-border{
    border: 2px #D4EAF5 solid !important;
}

.photo{
    border: 2px #89ADC3 solid;
    border-radius: 50% ;
    background-color:#D4EAF5 ;
    height: 200px;
    width:200px;
    overflow: auto;
}

.container-width{
   width: 50%;
}

.button-utama{
    background-color:#89ADC3 ;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 32px;
}
.button-utama:disabled{
    background-color:#b2c9d8;
}

.button-second{
    background-color:#D4EAF5  ;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 32px;
}

.button-cancel{
    background-color:gray ;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 32px;
}

.link:hover{
    text-decoration: none;
}