.login-content {
  display: flex;
}

.left-content-login {
  display: flex;
  background-color: #d4eaf5;
  align-items: center;
  height: 100vh;
  flex: 1;
}

.right-content-login {
  height: 100vh;
  flex: 1;
}

.login-form {
  margin-left: 20%;
  margin-right: 20%;
}

.login-text-1 {
  color: #052c43;
  letter-spacing: -0.5px;
  font-size: 27px;
}

.login-text-2 {
  color: #535353;
  font-size: 15px;
  margin-bottom: 8%;
}

.login-with {
  display: flex;
}

.googleIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.separator {
  flex: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.divider {
  color: #9f9f9f;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  width: 100%;
  margin-top: 13px;
  margin-bottom: 13px;
}

.divider > label {
  align-self: baseline;
  white-space: nowrap;
  flex-grow: 2;
}

.divider > hr {
  background: #9f9f9f;
  margin-top: 10px;
  width: 100%;
  border: 0;
  height: 1px;
}

.divider.center > :first-child {
  margin-right: 10px;
}

.divider.center > :last-child {
  margin-left: 10px;
}

.link-to-register-forgot {
  display: flex;
  justify-content: space-between;
}