.header-bg {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 10%;
  align-items: center;
  background-color: white;
  box-shadow: 0px 7px 19px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 19px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 19px -16px rgba(0, 0, 0, 0.75);
  padding: 0 6.7%;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.header-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #052c43;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.header-menu > a {
  font-weight: bold;
  color: #052c43;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.header-menu > a:after {
  content: "";
  position: absolute;
  background-color: #052c43;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 300ms ease-in-out;
  text-decoration: none !important;
}

.header-menu > a:hover:after {
  width: 100%;
  text-decoration: none !important;
}

.normal-link {
  text-decoration: none !important;
}

.normal-link:hover {
  text-decoration: none !important;
}

.header-menu > a:hover:after {
  color: #052c43;
  width: 100%;
}

.normal-link-header:hover {
  color: #052c43;
  text-decoration: none !important;
}

.log-button {
  text-decoration: none;
  color: #052c43;
  font-weight: bold;
  background-color: transparent;
  border-color: #052c43;
  width: 100px;
  height: 40px;
  border-style: solid;
  border-radius: 5px;
}

.log-button:hover {
  text-decoration: none;
  font-weight: bold;
  height: 40px;
}
