.loading {
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.685);
  clip-path: (2700px at 90%);
  -webkit-clip-path: circle(2700px at 90%);
  transition: all 1s ease-in-out;
}

.loading-admin {
  z-index: 2;
  height: 100vh;
  width: 80%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.911);
  clip-path: (1900px at 90%);
  -webkit-clip-path: circle(1300px at 90%);
  transition: all 1s ease-in-out;
}
