.overlay-modal-ch {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 900;
  height: 100vh;
  width: 100%;
  padding: 0 30px;
}

.modal-content-ch {
  background: white;
  height: 350px;
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  border-radius: 5px;
}

.modal-inside-ch {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-image-ch {
  height: 150px;
}

.text-1-modal-ch {
  font-size: 1.5rem;
  font-weight: 750;
  margin-bottom: -1px;
  margin-top: 5px;
}

.text-2-modal-ch {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.text-3-modal-ch {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}

.button-modal-ch {
  font-weight: bold;
  background-color: #89adc3;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -50px;
  border-radius: 3px;
}

.normal-link-modal {
  text-decoration: none !important;
}

.close-button-modal-ch {
  margin-right: -117%;
  margin-top: -3.8%;
  font-size: 1.8rem;
  cursor: pointer;
  color: rgba(128, 128, 128, 0.397) !important;
}
