.form-judul{
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px ;
    color: #052C43;
    /* background-color: aqua; */
}

.pass-input-sec{
    width: 100%;
    padding:10px 15px;
    margin:0px 0;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #052C43;
    -webkit-transition: 0.5s ;
    transition: 0.5s;
    outline: none;
    border: 0;
}

.pass-input-sec:focus{
    /* border: 2px solid #D4EAF5;
    border-radius: 7px; */
    /* border: 0; */
}

.btn-save{
    display: flex;
    justify-content: flex-end;
    margin:50px 20%;
}

.btn-save1{
    background-color: #89ADC3;
    display: inline-block;
    text-align: center;
    border: none;
    color: white;
    padding: 13px 40px;
    border-radius: 7px;
    transition: 700ms;
}

.btn-save1:hover{
    background-color:#79b0cf ;
    transition: 700ms;
}

.kotak-pass-sec{
    width: 80%;
    display: flex;
    border: 2px solid #052C43;
    border-radius: 5px;
}